<!DOCTYPE html>
	

	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
	    <title>Assignment # 1, WAD course, Anna Polubaryeva, group N41512c</title>
	    <link rel="stylesheet" href="styles.css">
	</head>
	<html>
	
	<body> 	
	<div id="big_modal">
		<div id="modal">
			<img id="modal_image">
			<div id="modal_text">
				<p>Attention!</p><hr>
					The best places in the world!</hr>
			</div>
		</div>
	</div>
	    <div id="header">
	        <p>Assignment # 1, WAD course, Anna Polybaryeva, group N41512c</p>
	    </div>
	   
	    <div id="gallery">
	        <div class="box">
	            <a href="#pop_up"><img src="images/IMG1.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Glen Coe peak</div>
	            </a>
	

	        </div>
	

	        <div class="box">
	            <a href="#pop_up_snap"><img src="images/IMG2.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Glen Coe mist</div>
	            </a>
	

	        </div>
	        <div class="box">
	            <a href="https: //google.com"><img src="images/IMG3.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Way to the A82 road</div>
	

	            </a>
	        </div>
	        <div class="box">
	            <a href="https: //google.com"><img src="images/IMG4.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Glen Coe Scenic Area</div>
	            </a>
	        </div>
	        <div class="box">
	            <a href="https://google.com"><img src="images/IMG5.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Home Sweet Home</div>
	            </a>
	        </div>
	        <div class="box">
	            <a href="https: //google.com"><img src="images/IMG6.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Traditional animal's family</div>
	            </a>
	        </div>
	        <div class="box">
	            <a href="https: //google.com"><img src="images/IMG7.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Roots of Scotland</div>
	            </a>
	        </div>
	        <div class="box">
	            <a href="https: //google.com"><img src="images/IMG8.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Kyle of Lochalsh sunset</div>
	            </a>
	        </div>
	        <div class="box">
	            <a href="https: //google.com"><img src="images/IMG9.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">The Skye bridge lighthouse</div>
	            </a>
	        </div>
	        <div class="box">
	            <a href="https: //google.com"><img src="images/IMG10.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Alsh Lake</div>
	            </a>
	        </div>
	        <div class="box">
	            <a href="https: //google.com"><img src="images/IMG11.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Caisteal Maol</div>
	            </a>
	        </div>
	        <div class="box">
	            <a href="https: //google.com"><img src="images/IMG12.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Near Caisteal Maol</div>
	            </a>
	        </div>
	        <div class="box">
	            <a href="https: //google.com"><img src="images/IMG13.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Johanna</div>
	            </a>
	        </div>
	        <div class="box">
	            <a href="https: //google.com"><img src="images/IMG14.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Callanish standing stones</div>
	            </a>
	        </div>
	        <div class="box">
	            <a href="https: //google.com"><img src="images/IMG15.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Kilt Rock dancing trees</div>
	            </a>
	        </div>
	        <div class="box">
	            <a href="https: //google.com"><img src="images/IMG16.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Uig sunset</div>
	            </a>
	        </div>
			<div class="box">
	            <a href="https: //google.com"><img src="images/IMG17.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Nessie</div>
	            </a>
	        </div>
			<div class="box">
	            <a href="https: //google.com"><img src="images/IMG18.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Loch Ness</div>
	            </a>
	        </div>
			<div class="box">
	            <a href="https: //google.com"><img src="images/IMG19.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Balmoral Estate</div>
	            </a>
	        </div>
			<div class="box">
	            <a href="https: //google.com"><img src="images/IMG20.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Everlasting tree</div>
	            </a>
	        </div>
			<div class="box">
	            <a href="https: //google.com"><img src="images/IMG21.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Queen's pond</div>
	            </a>
	        </div>
			<div class="box">
	            <a href="https: //google.com"><img src="images/IMG22.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Queen's garden</div>
	            </a>
	        </div>
			<div class="box">
	            <a href="https: //google.com"><img src="images/IMG23.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Balmoral secret path</div>
	            </a>
	        </div>
			<div class="box">
	            <a href="https: //google.com"><img src="images/IMG24.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Loch Muick</div>
	            </a>
	        </div>
			<div class="box">
	            <a href="https: //google.com"><img src="images/IMG25.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Sloppy bridge</div>
	            </a>
	        </div>
			<div class="box">
	            <a href="https: //google.com"><img src="images/IMG26.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">After thunderstorm</div>
	            </a>
	        </div>
			<div class="box">
	            <a href="https: //google.com"><img src="images/IMG27.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Balmoral secret path</div>
	            </a>
	        </div>
			<div class="box">
	            <a href="https: //google.com"><img src="images/IMG28.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Cornflower</div>
	            </a>
	        </div>
			<div class="box">
	            <a href="https: //google.com"><img src="images/IMG29.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Lake shore drive</div>
	            </a>
	        </div>
			<div class="box">
	            <a href="https: //google.com"><img src="images/IMG30.jpg" class="image">
	                <div class="hover_box"></div>
	                <div class="hover_text">Stirling view</div>
	            </a>
	        </div>
		</div>>
	
	<footer class="footer">
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
		<strong>Made with love to Scotland</strong>
		<link rel="stylesheet" href="styles.css">
	</footer>
	

	</body>
	<script>
	

	    for (var i = 0; i < 30; i++) {
	        const x = document.getElementsByClassName("box")[i];
	        const y = document.getElementsByClassName("image")[i];
	        const z = document.getElementsByClassName("hover_box")[i];
	        const w = document.getElementsByClassName("hover_text")[i];
	        const n = document.getElementsByTagName("a")[i];
	        x.addEventListener("mouseenter", function () {
	            y.style.opacity = 0.6;
	            z.style.opacity = 1;
	            w.style.opacity = 1;
	        });
	        x.addEventListener("mouseleave", function () {
	            y.style.opacity = 1;
	            z.style.opacity = 0;
	            w.style.opacity = 0;
	        });
	        n.addEventListener("click", function (e) {
	            var myModal = document.getElementById("big_modal");
	

	            myModal.style.display = "block";
	            var myImg = document.getElementById("modal_image");
	            myImg.src = e.currentTarget.firstElementChild.src;
	            e.preventDefault();
	        });
	    }
	    const m = document.getElementById("big_modal");
	    m.addEventListener("click", function(e){
	        console.log(e.target.id)
	        if (e.target.id == "big_modal"){
	            var myModal = document.getElementById("big_modal");
	            myModal.style.display = "none";
	        }
	    });
	

	

	

	</script>
	

	</html>
